<div *ngIf="company">
    <div>
        <h2>Configuración de Empresa {{company.name}} </h2>
    </div>
    <!-- <mat-stepper>
        <mat-step label="Usuarios">
            <app-users-table></app-users-table>
        </mat-step>
        <mat-step label="Dominios">
            <app-domain-table></app-domain-table>
        </mat-step>
        <mat-step label="Roles">
            <app-role-cfg-table></app-role-cfg-table>
        </mat-step>
    </mat-stepper> -->
    <div>
        <mat-tab-group>
            <mat-tab label="Roles">
                <app-role-cfg-table></app-role-cfg-table>
            </mat-tab>
            <mat-tab label="Usuarios">
                <app-users-table [companyId]="companyId"></app-users-table>
            </mat-tab>
            <mat-tab label="Dominios">
                <app-domain-table></app-domain-table>
            </mat-tab>

        </mat-tab-group>
    </div>
</div>
<div *ngIf="!company">
    <mat-spinner></mat-spinner>
</div>
