<h2>{{"contact"|translate}}</h2>
<div>
  <form [formGroup]="contactForm">
        <h3>Datos de contacto</h3>
      <mat-form-field appearance="outline" class="col-3">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" formControlName="name" id="name" required >
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-3">
          <mat-label>Apellido</mat-label>
          <input matInput type="text" formControlName="last_name" id="last_name" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-3">
          <mat-label>Segundo Apellido</mat-label>
          <input matInput type="text" formControlName="surname" id="surname">
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-3 w-180" maxlength="40">
          <mat-label>Correo Electrónico</mat-label>
          <input matInput type="email" formControSlName="email" id="email" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-3">
          <mat-label>Teléfono Fijo</mat-label>
          <input matInput type="tel" formControlName="phone" id="phone">
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-3">
          <mat-label>Teléfono Celular</mat-label>
          <input matInput type="tel" formControlName="cellphone" id="tel">
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-2">
          <mat-label>Cargo</mat-label>
          <input matInput type="text" formControlName="job_title" id="job-title">
        </mat-form-field>

      <mat-form-field appearance="outline" class="col-2">
        <mat-label>Tipo de Contacto</mat-label>
        <mat-select formControlName="contact_type">
          <mat-option value="personal">Personal</mat-option>
          <mat-option value="laboral">Laboral</mat-option>
          <mat-option value="otro">Otro</mat-option>
        </mat-select>
      </mat-form-field>
    <mat-checkbox formControlName="is_active" color="primary">Activo</mat-checkbox>
    <mat-form-field appearance="outline" class="col-1">
        <mat-label>Etiqueta (chips)</mat-label>
        <input matInput type="text" formControlName="tag">
      </mat-form-field>
      <div class="btn-box">
        <button mat-raised-button type="submit">Volver</button>
        <button mat-raised-button color="primary" type="submit" class="d-right" (click)="save()">Guardar</button>
      </div>
  </form>
</div>