/* Estilos personalizados para el componente company-table */
.mat-elevation-z8 {
  margin: 20px;
}

.search-box {
  margin-bottom: 20px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.table-header input {
  flex: 1;
  margin-right: 10px;
}
