<h2>{{"domaincategory"|translate}}</h2>
<div>
  <form [formGroup]="domainCategoryForm">
    <mat-form-field appearance="outline" class="col-1">
      <mat-label>Nombre</mat-label>
      <input matInput type="text" name="name" required>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="col-2">
      <mat-label>Descripción</mat-label>
      <textarea matInput name="description" required></textarea>
    </mat-form-field>
  
    <mat-checkbox name="is_active" color="primary">Activo</mat-checkbox>
  
    <mat-checkbox name="is_delete" color="primary">Eliminado</mat-checkbox>
  
    <mat-form-field appearance="outline" class="col-2">
      <mat-label>Fecha de Creación</mat-label>
      <input matInput [matDatepicker]="created_date" required>
      <mat-datepicker-toggle matIconSuffix [for]="created_date"></mat-datepicker-toggle>
      <mat-datepicker #created_date></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="col-2">
      <mat-label>Fecha de Modificación</mat-label>
      <input matInput [matDatepicker]="modificated_date" required>
      <mat-datepicker-toggle matIconSuffix [for]="modificated_date"></mat-datepicker-toggle>
      <mat-datepicker #modificated_date></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="col-2">
      <mat-label>Etiqueta</mat-label>
      <input matInput type="text" name="tag">
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="col-2">
      <mat-label>ID Grupo Empresa</mat-label>
      <input matInput type="text" name="id_group_company" required>
    </mat-form-field>
    <div class="btn-box">
      <button mat-raised-button type="submit">Volver</button>
      <button mat-raised-button color="primary" type="submit" class="d-right" (click)="save()">Guardar</button>
    </div>
  </form>
</div>