/**/
h1 {
    padding: 0 1rem;
    font-size:1.75rem !important;
    color: #241783;
}

h2 {padding: 1rem;}

mat-toolbar{
    position:fixed;
    top:0;
    z-index: 2;
    background-color:#f4f3fc ;
}

mat-sidenav-container {
    height:100%;
    background-color:#f4f3fc ;
}

mat-icon{
    color: #5f4ede;
}

mat-nav-list{
    color: #5f4ede;
}

.mat-mdc-list-base{
    margin: 10px;
}

a.mdc-list-item{
    color: #5f4ede;
}

.mdc-list-item__primary-text{
    color: #5f4ede !important;
}

mat-sidenav {
    padding-top: 3.5rem;
    transition: width 0.3s ease;
    background-color:#f4f3fc ;
    @media screen and (min-width: 768px) {
      padding-top: 4rem;
    }

    .entry{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding:0.75rem;
    }

  }

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav-content{
    padding-top: 3.5rem;
    .mat-drawer-content{
        .mat-sidenav-content{
            *{
                div{
                    padding: 60px;
                }
            }
        }
    }
    @media screen and (min-width: 600px) {
        padding-top: 4rem;
    }
  
}

.expanded {
    width: 250px;   
}
.mat-drawer-container{
    background-color: #ffffff;
}
/**/


.welcoming{
    display: grid;
    grid-template-columns: 50px auto;
    gap: 10px;
    padding: 0.5rem 0.75rem;
}
.welcoming > *{
    color: #5f4ede;
    font-size:14px;
}
.welcoming > * > p{
    font-weight:800;
    margin: 3px;
}
.welcoming > * > span{
    font-size:14px;
    font-weight: 500;
}
span.material-icons {
    color: #5f4ede;
    font-weight: 400;
    font-size: 1.5rem;
}
.name{
    background-color: #d0cbf5;
    color: #5f4ede;
    font-weight: bold;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    padding: 5px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-container{
    display: grid;
    grid-template-columns: 350px auto;
}
aside{
    border-right: 0.1rem solid #d0cbf5;
    background-color: #f4f3fc;
    padding: 10px;
    height: 100%;
    position: sticky;
}
.grid-rows{
    display: grid;
    grid-template-rows: auto auto auto;
    height: 100%;
}
aside > * > ul {
    list-style: none;
    padding-inline-start: 30px;
}

aside > * > ul > li > a {
    align-items: center;
    color: #5f4ede;
    display: flex;
    gap: 10px;
    font-family: 'Roboto';
    font-weight: 400;
    text-decoration: none;
}


/* aside#separator-sidebar {
    class="fixed top-0 left-0 z-40 w-70 h-screen transition-transform -translate-x-full sm:translate-x-0"
} */
a{
    padding:1.2rem .75rem;
    color: #5f4ede;
}
a.active{
    background-color: #5f4ede;
    color: white;
    border-radius: .5rem;
}
a.active > svg, a.active > span{
    color: white;
}
.appversion{
    text-align: center;
    right: 0;
    left: 0;
    color: #5f4ede;
    font-weight: 300;
    font-family: system-ui;
    font-size: .9rem;
}

@media (max-width: 1200px){ 
    /* Styles! */
}