<h3
  [ngClass]="
    data.type === 'error'
      ? 'head-error'
      : data.type === 'info'
      ? 'head-info'
      : 'head-primary'
  "
>
{{ modalTitle === 'error' ? ("error"|translate): modalTitle === 'info' ? ("info"|translate) : ("success"|translate) }}
</h3>
<div mat-dialog-content>
  <p>{{ data.message }}</p>
</div>
<div mat-dialog-actions align="end">
  <button
    mat-raised-button 
    (click)="onClose()"
    [color]="data.type === 'error'? 'warn' : data.type === 'info'? 'info': 'primary'">
    {{"close"|translate}}
  </button>
</div>
  