<div mat-dialog-title>
    <h2
      [ngClass]="
        data.type === 'error'
          ? 'head-error'
          : data.type === 'info'
          ? 'head-info'
          : 'head-primary'
      "
      class="text-white"
    >
      {{ modalTitle }}
    </h2>
  </div>
  <div mat-dialog-content>
    <p>{{ data.message }}</p>
  </div>
  <div mat-dialog-actions align="end">
    <button
      mat-raised-button 
      (click)="onClose()"
      >
      <!-- [color]="data.type === 'error'? 'error' : data.type === 'info'? 'info': 'primary'" -->
      Close
    </button>
  </div>
  