<h2>Empresa</h2>
<div>
    <table>
        <thead>
            <tr>
                <th>Nombre de la Empresa</th>
                <th>Número de Documento</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let company of companies">
                <td>{{company.companyname}}</td>
                <td>{{company.documentNumber}}</td>
                <td><mat-slide-toggle>
                </mat-slide-toggle>{{company.status}}</td>
                <td><button type="button" class="btn btn-primary">Editar</button></td>
            </tr>
            
        </tbody>
    </table>
</div>
