
<table
[dataSource]="questionDataSource"
mat-table
class="mat-elevation-z2"
>
<ng-container matColumnDef="id">
<th mat-header-cell *matHeaderCellDef>Id</th>
<td mat-cell *matCellDef="let row">{{ row.id }}</td>
</ng-container>
<ng-container matColumnDef="text">
<th mat-header-cell *matHeaderCellDef>Pregunta</th>
<td mat-cell *matCellDef="let row">{{ row.text }}</td>
</ng-container>

<ng-container matColumnDef="select">
<th mat-header-cell *matHeaderCellDef>
    <mat-checkbox
    color="primary"
    (change)="$event ? masterToggle() : null"
    [checked]="selection.hasValue() && isAllSelected()"
    [indeterminate]="selection.hasValue() && !isAllSelected()"
    >
    </mat-checkbox>
</th>
<td mat-cell *matCellDef="let row">
    <mat-checkbox
    color="primary"
    (click)="$event.stopPropagation()"
    (change)="changeSelection($event, row)"
    [checked]="selection.isSelected(row)"
    >
    </mat-checkbox>
</td>
</ng-container>
<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table> 
<div *ngFor="let e of questions">
    <mat-card class="my-4">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>{{e.text}}</mat-card-title>
                <mat-checkbox
                color="primary"
                (click)="$event.stopPropagation()"
                (change)="changeSelection($event, e.id)"
                >
                </mat-checkbox>
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content class="example-card"> 
            <form [formGroup]="QuestQuestionForm"> 
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Criticidad</mat-label>
                    <mat-select placeholder="Seleccione nivel de criticidad" required  formControlName="criticality">
                        <mat-option *ngFor="let c of criticality" [value]="c.id">{{
                            c.name
                            }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="full-width"  appearance="outline">
                    <mat-label>Peso %</mat-label>
                    <input matInput placeholder="Definir texto de ayuda" value="" formControlName="percentage" />
                </mat-form-field>
                <mat-checkbox formControlName="hasFile">Documentación</mat-checkbox>
                <mat-checkbox formControlName="isRequired">Obligatorio</mat-checkbox>
                
            </form>
        </mat-card-content>
    </mat-card>
    <br>
</div>

<br>
<!-- <div align="end">
    <button
        mat-raised-button
        color="primary"
        (click)="saveQuestQuestion()"
        [disabled]="!createForm.valid && selection.isEmpty()"
    >
    Asociar preguntas a cuestionario
    </button> 
</div> -->