<h2>Usuarios y roles</h2>
<div>
  <table>
      <thead>
          <tr>
              <th>Usuario</th>
              <th>Cargo</th>
              <th>E-mail</th>
              <th>Rol</th>
              <th>Empresa/Cliente</th>
              <th>Estado</th>
              <th>Acción</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let user of users">
              <td>{{user.firstName}} {{user.lastName}}</td>
              <td>{{user.position}}</td>
              <td>{{user.email}}</td>
              <td>Administrador</td>
              <td>{{user.companyname}}</td>
              <td><mat-slide-toggle></mat-slide-toggle></td>
              <td>
                <button type="button">
                  <span class="material-symbols-outlined">edit_square</span>
                </button>
                <button type="button">
                  <span class="material-symbols-outlined">scan_delete</span>
                </button>
              </td>
          </tr>
          
      </tbody>
  </table>
</div>