<h2>Usuarios y roles</h2>
<div>
  <table>
      <thead>
          <tr>
              <th>Usuario</th>
              <th>Cargo</th>
              <th>E-mail</th>
              <th>Rol</th>
              <th>Empresa/Cliente</th>
              <th>Estado</th>
              <th>Acción</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Pepito los palotes</td>
              <td>Administrador</td>
              <td>plospalotes@gmail.com</td>
              <td>Administrador</td>
              <td>Falabella</td>
              <td><mat-slide-toggle></mat-slide-toggle></td>
              <td>
                <button type="button">
                  <span class="material-symbols-outlined">edit_square</span>
                </button>
                <button type="button">
                  <span class="material-symbols-outlined">scan_delete</span>
                </button>
              </td>
          </tr>
          
      </tbody>
  </table>
</div>