<h2>{{"user"|translate}}</h2>
<div>
  <form [formGroup]="userForm">
  
    <mat-form-field appearance="outline" class="col-2">
      <mat-label>Nombre</mat-label>
      <input matInput type="text" formControlName="name" required>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="col-2">
      <mat-label>Apellido</mat-label>
      <input matInput type="text" formControlName="lastName" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3">
      <mat-label>Tipo de Documento</mat-label>
      <input matInput type="text" formControlName="documentType" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3">
      <mat-label>Número de Documento</mat-label>
      <input matInput type="text" formControlName="document" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="passwd" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" required>
    </mat-form-field>
    
    <mat-form-field appearance="outline" class="col-3">
      <mat-label>Phone</mat-label>
      <input matInput type="phone" formControlName="phone" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3">
      <mat-label>Cellphone</mat-label>
      <input matInput type="cellphone" formControlName="cellphone" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-2">
      <mat-label>Cargo</mat-label>
      <input matInput type="text" formControlName="jobTitle">
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="col-2">
      <mat-label>Tipo de contacto</mat-label>
      <input matInput type="text" formControlName="contactType">
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="col-1">
      <mat-label>Etiqueta</mat-label>
      <input matInput type="text" formControlName="tag">
    </mat-form-field>

    <!-- <mat-form-field appearance="outline">
      <mat-label>Roles</mat-label>
      <mat-select [formControl]="roles" multiple>
        <mat-option *ngFor="let role of rolesList" [value]="role.id">{{role.name}}</mat-option>
      </mat-select>
    </mat-form-field> -->

    <section class="col-1">
      <mat-checkbox formControlName="isClient" color="primary">Cliente</mat-checkbox>
      
      <mat-checkbox formControlName="isProvider" color="primary">Proveedor</mat-checkbox>
    
      <mat-checkbox formControlName="isUserCompany" color="primary">Usuario Empresa</mat-checkbox>
    
    </section>

    <div class="btn-box">
      <button mat-raised-button type="submit">Volver</button>
      <button mat-raised-button color="primary" type="submit" class="d-right" (click)="save()">Guardar</button>
    </div>
  </form>
</div>
  
  