<h2>{{"user"|translate}}</h2>
<div>
  <form [formGroup]="userForm">
  
    <mat-form-field appearance="outline" class="col-3">
      <mat-label>Nombre</mat-label>
      <input matInput type="text" name="name" required>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="col-3">
      <mat-label>Apellido</mat-label>
      <input matInput type="text" name="last_name" required>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="col-2">
      <mat-label>Cargo</mat-label>
      <input matInput type="text" name="job_title">
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="col-2">
      <mat-label>Email</mat-label>
      <input matInput type="email" name="email" required>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="col-3">
      <mat-label>Tipo de Documento</mat-label>
      <input matInput type="text" name="document_type" required>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="col-3">
      <mat-label>Número de Documento</mat-label>
      <input matInput type="text" name="document" required>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="col-3">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" name="passwd" required>
    </mat-form-field>
    <section class="col-1">
      <mat-checkbox name="is_provider" color="primary">Proveedor</mat-checkbox>
    
      <mat-checkbox name="is_client" color="primary">Cliente</mat-checkbox>
    
      <mat-checkbox name="is_user_company" color="primary">Usuario Empresa</mat-checkbox>
    
      <mat-checkbox name="is_active" color="primary">Activo</mat-checkbox>
    
      <mat-checkbox name="is_delete" color="primary">Eliminado</mat-checkbox>
    </section>
    
    <mat-form-field appearance="outline"  class="col-2">
      <mat-label>Fecha de Creación</mat-label>
      <input matInput [matDatepicker]="created_date" required>
      <mat-datepicker-toggle matIconSuffix [for]="created_date"></mat-datepicker-toggle>
      <mat-datepicker #created_date></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="col-2">
      <mat-label>Fecha de Modificación</mat-label>
      <input matInput [matDatepicker]="modificated_date" required>
      <mat-datepicker-toggle matIconSuffix [for]="modificated_date"></mat-datepicker-toggle>
      <mat-datepicker #modificated_date></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="col-1">
      <mat-label>Etiqueta</mat-label>
      <input matInput type="text" name="tag">
    </mat-form-field>
    <div class="btn-box">
      <button mat-raised-button type="submit">Volver</button>
      <button mat-raised-button color="primary" type="submit" class="d-right" (click)="save()">Guardar</button>
    </div>
  </form>
</div>
  
  