<h2>{{"subdomain"|translate}}</h2>
<!-- <button mat-raised-button color="primary" type="submit" class="d-right" (click)="addSubdomain(selectedDomainId)">Agregar subdominio</button> -->

<!-- <div class="p-4"> 
  <form [formGroup]="subdomainForm">
    <mat-form-field appearance="outline" class="col-1">
      <mat-label>Nombre</mat-label>
      <input matInput type="text" name="name" required>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="col-2">
      <mat-label>Descripción</mat-label>
      <textarea matInput name="description" required></textarea>
    </mat-form-field>
  
    <mat-checkbox name="is_active" color="primary">Activo</mat-checkbox>
  
    <mat-checkbox name="is_delete" color="primary">Eliminado</mat-checkbox>
  
    <mat-form-field appearance="outline" class="col-2">
      <mat-label>Fecha de Creación</mat-label>
      <input matInput [matDatepicker]="created_date" required>
      <mat-datepicker-toggle matIconSuffix [for]="created_date"></mat-datepicker-toggle>
      <mat-datepicker #created_date></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="col-2">
      <mat-label>Fecha de Modificación</mat-label>
      <input matInput [matDatepicker]="modificated_date" required>
      <mat-datepicker-toggle matIconSuffix [for]="modificated_date"></mat-datepicker-toggle>
      <mat-datepicker #modificated_date></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="col-2">
      <mat-label>Etiqueta</mat-label>
      <input matInput type="text" name="tag">
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="col-2">
      <mat-label>ID Dominio</mat-label>
      <input matInput type="text" name="id_domain" required disabled value={{data.id}}>
    </mat-form-field>
    <div class="btn-box">
      <button mat-raised-button type="submit">Volver</button>
      <button mat-raised-button color="primary" type="submit" class="d-right" (click)="save()">Guardar</button>
    </div>
  </form>
</div> -->

<mat-card *ngIf="data" class="px-4">
  <mat-card-header>
    <div class="header-content">
      <h4 class="subdomain-title">Dominio: {{ selectedDomainId }}</h4>
      <div class="button-group">
        <button mat-raised-button color="primary" class="rounded-button d-right" (click)="addSubdomain(selectedDomainId)">
          <mat-icon>add</mat-icon> Agregar Subdominio
        </button>
      </div>
    </div>
  </mat-card-header>
  <br>
  <mat-card-content>

      <div *ngFor="let subdomain of domainsMap[selectedDomainId]">
        <!-- <mat-icon class="drag-handle-question" cdkDragHandle>drag_indicator</mat-icon> -->
        <mat-card class="question-card">
          <mat-card-content>
            <div class="question-header">
              <div class="question-content">
                <!-- <h5>Subdominio</h5> -->
                <!-- <button mat-icon-button color="warn" >
                  <mat-icon>delete</mat-icon>
                </button> -->
              </div>
            </div>
            <mat-form-field class="col-2" appearance="outline">
              <mat-label>Subdominio</mat-label>
              <input matInput [(ngModel)]="subdomain.name" [ngModelOptions]="{standalone:true}" />
            </mat-form-field>

            <mat-form-field class="col-2" appearance="outline">
              <mat-label>Descripción</mat-label>
              <input matInput [(ngModel)]="subdomain.description" [ngModelOptions]="{standalone:true}" />
            </mat-form-field>
            <br>
            <mat-checkbox [(ngModel)]="subdomain.is_active" [ngModelOptions]="{standalone:true}">Activo</mat-checkbox>
            <mat-checkbox [(ngModel)]="subdomain.is_delete" [ngModelOptions]="{standalone:true}">Eliminado</mat-checkbox>
            <br>
            <mat-form-field class="col-2" appearance="outline">
              <mat-label>Tag</mat-label>
              <input matInput [(ngModel)]="subdomain.tag" [ngModelOptions]="{standalone:true}" />
            </mat-form-field>
            <!-- <mat-form-field appearance="outline" class="col-2">
              <mat-label>Fecha de Creación</mat-label>
              <input matInput [matDatepicker]="created_date" required>
              <mat-datepicker-toggle matIconSuffix [for]="created_date"></mat-datepicker-toggle>
              <mat-datepicker #created_date></mat-datepicker>
            </mat-form-field>
          
            <mat-form-field appearance="outline" class="col-2">
              <mat-label>Fecha de Modificación</mat-label>
              <input matInput [matDatepicker]="modificated_date" required>
              <mat-datepicker-toggle matIconSuffix [for]="modificated_date"></mat-datepicker-toggle>
              <mat-datepicker #modificated_date></mat-datepicker>
            </mat-form-field> -->
        
          </mat-card-content>
        </mat-card>
        <br>
      </div>
      <button mat-raised-button color="primary" type="submit" class="d-right" (click)="saveSubdomain()" *ngIf="this.domainsMap[selectedDomainId]">Guardar</button>
  </mat-card-content>
</mat-card>