<!-- <h2>{{"subdomain"|translate}}</h2>
<mat-card *ngIf="data" class="px-4">
  <mat-card-header>
    <div class="header-content">
      <h4 class="subdomain-title">Dominio: {{ selectedDomainId }}</h4>
      <div class="button-group">
        <button mat-raised-button color="primary" class="rounded-button d-right" (click)="addSubdomain(selectedDomainId)">
          <mat-icon>add</mat-icon> Agregar Subdominio
        </button>
      </div>
    </div>
  </mat-card-header>
  <br>
  <mat-card-content> -->

<div class="p-4">
  {{selectedDomainName}}
  <form [formGroup]="subdomainForm" (ngSubmit)="onSubmit(selectedDomainId)">

 
      <button type="button" class="d-right mr-3" mat-raised-button color="primary" (click)="addSubdomains(selectedDomainId)">Agregar Subdominio</button>
   
    <br>
    <mat-table [dataSource]="dataSourcePacks" class="mt-3">
      <ng-container formArrayName="subdominios">

        <!-- Subdomain name Column -->
        <ng-container matColumnDef="Nombre">
          <mat-header-cell *matHeaderCellDef>Subdominio</mat-header-cell>
          <mat-cell *matCellDef="let element;" [formGroup]="element">
            <mat-form-field appearance="outline">
              <input matInput placeholder="Nombre de subdominio" formControlName="name" required>
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="Descripción">
          <mat-header-cell *matHeaderCellDef>Descripción</mat-header-cell>
          <mat-cell *matCellDef="let element;" [formGroup]="element">
            <mat-form-field appearance="outline">
              <input matInput placeholder="Descripción" formControlName="description" required>
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <!-- Tags Column -->
        <ng-container matColumnDef="Tags">
          <mat-header-cell *matHeaderCellDef>Tags</mat-header-cell>
          <mat-cell *matCellDef="let element;" [formGroup]="element">
            <mat-form-field appearance="outline">
              <input matInput placeholder="Tags" formControlName="tag" required>
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="Eliminar">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element; index as i" [formGroup]="element">

            <button type="button" (click)="deleteSubdomain(i)">
              <mat-icon matSuffix>delete</mat-icon>
            </button>

          </mat-cell>
        </ng-container>

        <!-- header titles -->

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </ng-container>
    </mat-table>

    <button type="submit" class="d-right mr-3" mat-raised-button color="primary">Guardar</button>

  </form>
</div>