<h2>{{"subdomain"|translate}}</h2>

<!-- <div class="p-4">
  <button mat-raised-button color="primary" class="d-right mr-3" (click)="addSubdomain(selectedDomainId)">
    <mat-icon>add</mat-icon> Agregar Subdominio
  </button>
</div>
<div class="p-4" >
  <form [formGroup]="subdomainForm" >
    <mat-card class="question-card" *ngFor="let subdomain of subdomainsMap[selectedDomainId]">
      <mat-card-content>    
          <mat-form-field class="col-2" appearance="outline">
            <mat-label>Subdominio</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>

          <mat-form-field class="col-2" appearance="outline">
            <mat-label>Descripción</mat-label>
            <input matInput  formControlName="description"/>
          </mat-form-field>

          <mat-form-field class="col-2" appearance="outline">
            <mat-label>Tag</mat-label>
            <input matInput  formControlName="tag"/>
          </mat-form-field>
      </mat-card-content>
    </mat-card>
    <br>
  
  
    <button mat-raised-button color="primary" type="submit" class="d-right" (click)="closeModal(selectedDomainId)">Guardar</button>
  </form>
</div> -->



<div class="p-4">
  {{selectedDomainName}}
  <form [formGroup]="subdomainForm" (ngSubmit)="onSubmit(selectedDomainId)">

 
      <button type="button" class="d-right mr-3" mat-raised-button color="primary" (click)="addSubdomains(selectedDomainId)">Agregar Subdominio</button>
   
    <br>
    <mat-table [dataSource]="dataSourcePacks" class="mt-3">
      <ng-container formArrayName="subdominios">

        <!-- Subdomain name Column -->
        <ng-container matColumnDef="Nombre">
          <mat-header-cell *matHeaderCellDef>Subdominio</mat-header-cell>
          <mat-cell *matCellDef="let element;" [formGroup]="element">
            <mat-form-field appearance="outline">
              <input matInput placeholder="Nombre de subdominio" formControlName="name" required>
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="Descripción">
          <mat-header-cell *matHeaderCellDef>Descripción</mat-header-cell>
          <mat-cell *matCellDef="let element;" [formGroup]="element">
            <mat-form-field appearance="outline">
              <input matInput placeholder="Descripción" formControlName="description" required>
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <!-- Tags Column -->
        <ng-container matColumnDef="Tags">
          <mat-header-cell *matHeaderCellDef>Tags</mat-header-cell>
          <mat-cell *matCellDef="let element;" [formGroup]="element">
            <mat-form-field appearance="outline">
              <input matInput placeholder="Tags" formControlName="tag" required>
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="Eliminar">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element; index as i" [formGroup]="element">

            <button type="button" (click)="deleteSubdomain(i)">
              <mat-icon matSuffix>delete</mat-icon>
            </button>

          </mat-cell>
        </ng-container>

        <!-- header titles -->

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </ng-container>
    </mat-table>

    <button type="submit" class="d-right mr-3" mat-raised-button color="primary">Guardar</button>

  </form>
</div>