<div class="mat-elevation-z8 mb-5">
    <table *ngIf="showTable" mat-table class="mat-elevation-z8" [dataSource]="domainsGroup">
      <ng-container matColumnDef="domainName">
        <th mat-header-cell *matHeaderCellDef> Nombre de dominio </th>
        <td mat-cell *matCellDef="let element">{{element.domainName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="domainDescription">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let element"> {{element.domainDescription}}</td>
      </ng-container>
      <ng-container matColumnDef="typeName">
        <th mat-header-cell *matHeaderCellDef> Tipo de Dominio </th>
        <td mat-cell *matCellDef="let element">{{element.typeName}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<form [formGroup]="domainsForm">


<mat-form-field>
    <mat-label>Dominio</mat-label>
    <input matInput formControlName="name" placeholder="Ingrese el nombre del dominio" required>
</mat-form-field>
<mat-form-field>
    <mat-label>Categoría de dominio</mat-label>
    <mat-select  name="idDomainType" formControlName="idDomainType" placeholder="Ingrese categoría de dominio" required>
        <mat-option value={{domain.id}} *ngFor="let domain of domainsType ">{{domain.name}}</mat-option>
        <!-- <mat-option value="2">Cyberseguridad</mat-option> -->
    </mat-select>
</mat-form-field>
<br>
<mat-form-field class="example-full-width">
    <mat-label>Descripción</mat-label>
    <textarea matInput formControlName="description"  placeholder="Ingrese una descripción de dominio" required></textarea>
</mat-form-field>
<div>

</div>
<div>
    <br>
    <button mat-button matStepperPrevious>Atrás</button>
    <button mat-raised-button color="primary" (click)="onDomainCreate()">Guardar</button>
    <button mat-button matStepperNext *ngIf="show">Siguiente</button>
</div>
<br>
    <button mat-raised-button color="primary">+ Crear nuevo dominio</button>
    <br>
</form>