<h1 mat-dialog-title>Vista preliminar:</h1>
<div mat-dialog-content>
  <table>
    <tr>
      <td><strong>File Name:</strong></td>
      <td>{{ data.file.name }}</td>
    </tr>
    <tr>
      <td><strong>File Size:</strong></td>
      <td>{{ data.file.size }} bytes</td>
    </tr>
    <tr>
      <td><strong>File Type:</strong></td>
      <td>{{ data.file.type }}</td>
    </tr>
  </table>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef> {{ column }} </th>
      <td mat-cell *matCellDef="let row"> {{ row[column] }} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="close()">Aceptar</button>
</div>