<h1 mat-dialog-title>Vista preliminar:</h1>
<div mat-dialog-content>
  <p>Nombre del archivo: {{ data.file.name }}</p>
  <p>Tamaño del archivo: {{ data.file.size }} bytes</p>
  <p>Tipo de archivo: {{ data.file.type }}</p>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef> {{ column }} </th>
      <td mat-cell *matCellDef="let row"> {{ row[column] }} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button color="primary" (click)="onUploadClick()">Subir</button>
</div>