<h2>{{"company"|translate}}</h2>
<div>
  <form [formGroup]="companyForm" (ngSubmit)="closeModal()">
    <mat-form-field appearance="outline" class="col-3">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3">
      <mat-label>Razón Social</mat-label>
      <input matInput formControlName="businessName" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3">
      <mat-label>Dirección</mat-label>
      <input matInput formControlName="address" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3">
      <mat-label>Ciudad</mat-label>
      <input matInput formControlName="city" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3">
      <mat-label>Estado/Provincia</mat-label>
      <input matInput formControlName="state" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3">
      <mat-label>Condado</mat-label>
      <input matInput formControlName="county">
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3">
      <mat-label>Distrito</mat-label>
      <input matInput formControlName="district">
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3">
      <mat-label>País</mat-label>
      <input matInput formControlName="country" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3">
      <mat-label>Tipo de Documento</mat-label>
      <mat-select formControlName="documentType" required>
        <mat-option value="RUT">RUT</mat-option>
        <mat-option value="DNI">DNI</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3">
      <mat-label>Número de Documento</mat-label>
      <input matInput formControlName="document" required>
    </mat-form-field>

    <!-- <mat-checkbox formControlName="headquarters">Sede Principal</mat-checkbox>
    <mat-checkbox formControlName="branch">Sucursal</mat-checkbox>
    <mat-checkbox formControlName="active">Activo</mat-checkbox>
    <mat-checkbox formControlName="delete">Eliminado</mat-checkbox> -->

    <div class="btn-box">
      <button mat-raised-button type="submit">Guardar</button>
    </div>
  </form>
</div>
