<h2>Configuración de dominio</h2>
<div>
    <table>
        <thead>
            <tr>
                <th>Dominio</th>
                <th>Descripción</th>
                <th>Tipo de dominio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let domain of domains">
                <td>{{domain.name}}</td>
                <td>{{domain.description}}</td>
                <td>{{domain.typename}}</td>
                <td><button type="button" class="btn btn-primary">Editar</button></td>
            </tr>
            
        </tbody>
    </table>
</div>