<h2>Configuración de dominio</h2>
<div>

    <div class="spinner" *ngIf="isLoading">
        <mat-progress-spinner color="accent" mode="indeterminate" diameter="50">
        </mat-progress-spinner>
    </div>

    <table mat-table [dataSource]="dataSource" [hidden]="isLoading"> 

        <!-- Position Column -->
        <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Dominio</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="typename">
            <th mat-header-cell *matHeaderCellDef> Tipo de dominio </th>
            <td mat-cell *matCellDef="let element"> {{element.typename}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="companyname">
            <th mat-header-cell *matHeaderCellDef> Cliente</th>
            <td mat-cell *matCellDef="let element"> {{element.companyname}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openDialog(element.id)">
                        <mat-icon> visibility</mat-icon>
                        <span>Ver</span>
                    </button>
                    <button mat-menu-item (click)="openEdit(element.id)">
                        <mat-icon>edit</mat-icon>
                        <span>Editar</span>
                    </button>
                    <button mat-menu-item (click)="openDelete(element.id)">
                        <mat-icon>delete</mat-icon>
                        <span>Borrar</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="domainsTableColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: domainsTableColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
</div>
<!-- <div>
    <table>
        <thead>
            <tr>
                <th>Dominio</th>
                <th>Descripción</th>
                <th>Tipo de dominio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let domain of domains">
                <td>{{domain.name}}</td>
                <td>{{domain.description}}</td>
                <td>{{domain.typename}}</td>
                <td>
                    <button type="button">
                        <span class="material-symbols-outlined">
                            visibility
                        </span>
                    </button>
                    <button type="button">
                        <span class="material-symbols-outlined">
                            edit
                        </span>
                    </button>
                    <button type="button">
                        <span class="material-symbols-outlined">
                            delete
                        </span>
                    </button>
                </td>
            </tr>
            
        </tbody>
    </table>
</div> -->