<h2>Configs</h2>
<div class="p-4">
    <div class="container d-f">
        <a [routerLink]="['../adddomaincategory']" routerLinkActive="active" ariaCurrentWhenActive="page">
            <mat-card class="config-card">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon>
                <mat-card-header>
                    <mat-card-title>Categoría de Dominios </mat-card-title>
                    <mat-card-subtitle>Administrar datos sobre dominios y subdominios de riesgos</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </a>
        <a [routerLink]="['services']" routerLinkActive="active" ariaCurrentWhenActive="page">
            <mat-card class="config-card">
                <mat-icon aria-hidden="false" fontIcon="home_repair_service"></mat-icon>
                <mat-card-header>
                    <mat-card-title>Categoría de Servicios</mat-card-title>
                    <mat-card-subtitle>Administrar datos sobre servicios.</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </a>
        <a [routerLink]="['../domain-config']" routerLinkActive="active" ariaCurrentWhenActive="page">
            <mat-card class="config-card">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon>
                <mat-card-header>
                    <mat-card-title>Dominios </mat-card-title>
                    <mat-card-subtitle>Administrar datos sobre dominios y subdominios de riesgos</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </a>
        <a [routerLink]="['../subdomain']" routerLinkActive="active" ariaCurrentWhenActive="page">
            <mat-card class="config-card">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon>
                <mat-card-header>
                    <mat-card-title>Subdominios </mat-card-title>
                    <mat-card-subtitle>Administrar datos sobre dominios y subdominios de riesgos</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </a>
        <a [routerLink]="['../rolestable']" routerLinkActive="active" ariaCurrentWhenActive="page">
            <mat-card class="config-card">
                <mat-icon aria-hidden="false" fontIcon="group"></mat-icon>
                <mat-card-header>
                    <mat-card-title>Roles</mat-card-title>
                    <mat-card-subtitle>Administración de usuarios. Creación de usuarios, roles, acceso a
                        aplicaciones.</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </a>
        <a [routerLink]="['../users']" routerLinkActive="active" ariaCurrentWhenActive="page">
            <mat-card class="config-card">
                <mat-icon aria-hidden="false" fontIcon="group"></mat-icon>
                <mat-card-header>
                    <mat-card-title>Usuarios</mat-card-title>
                    <mat-card-subtitle>Administrar datos de usuarios</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </a>
    </div>
</div>