<h2>Configs</h2>
<div class="p-4">
    <div class="container d-f">
        <a [routerLink]="['../clients']" routerLinkActive="active" ariaCurrentWhenActive="page">
            <mat-card class="config-card">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon>
                <mat-card-header>
                    <mat-card-title>Clientes </mat-card-title>
                    <mat-card-subtitle>Administrar clientes</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </a>
        <a [routerLink]="['../company']" routerLinkActive="active" ariaCurrentWhenActive="page">
            <mat-card class="config-card">
                <mat-icon aria-hidden="false" fontIcon="home_repair_service"></mat-icon>
                <mat-card-header>
                    <mat-card-title>Empresas</mat-card-title>
                    <mat-card-subtitle>Administrar empresas. </mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </a>
        <a [routerLink]="['../rolestable']" routerLinkActive="active" ariaCurrentWhenActive="page">
            <mat-card class="config-card">
                <mat-icon aria-hidden="false" fontIcon="group"></mat-icon>
                <mat-card-header>
                    <mat-card-title>Roles</mat-card-title>
                    <mat-card-subtitle>Creación de roles de acceso a
                        aplicaciones.</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </a>
        <a [routerLink]="['../user']" routerLinkActive="active" ariaCurrentWhenActive="page">
            <mat-card class="config-card">
                <mat-icon aria-hidden="false" fontIcon="group"></mat-icon>
                <mat-card-header>
                    <mat-card-title>Usuarios</mat-card-title>
                    <mat-card-subtitle>Administrar datos de usuarios. Creación de usuarios y asignación de roles</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </a>
    </div>
</div>