<mat-horizontal-stepper linear (selectionChange)="onStepChange($event)">
  <mat-step label="Datos del cliente" [stepControl]="clientForm" [completed]="clientFormValid">
    <app-client (validationStatus)="onValidationStatus($event)" [showSaveBtn]="false"></app-client>
    <div>
      <button mat-button matStepperNext>Siguiente</button>
    </div>
  </mat-step>
  <mat-step label="Grupos" [stepControl]="groupCompanyForm" [completed]="groupCompanyFormValid">
    <div *ngIf="showAppGroupCompany">
      <app-group-company-table></app-group-company-table>
    </div>
    <div>
      <button mat-button matStepperPrevious>Anterior</button>
      <button mat-button matStepperNext>Siguiente</button>
    </div>
  </mat-step>
  <mat-step label="Añadir empresas del cliente" [stepControl]="companyTableForm" [completed]="companyFormValid">
    <div *ngIf="showAppCompany">
      <app-company-table [clientName]="'Client'"></app-company-table>
    </div>
    <div>
      <button mat-button matStepperPrevious>Anterior</button>
      <button mat-button matStepperNext>Siguiente</button>
    </div>
  </mat-step>
  <mat-step label="Roles" [stepControl]="roleTableForm" [completed]="roleFormValid">
    <div *ngIf="showAppRole">
      <app-role-table></app-role-table>
    </div>
    <div>
      <button mat-button matStepperPrevious>Anterior</button>
      <button mat-button matStepperNext>Siguiente</button>
    </div>
  </mat-step>
  <mat-step label="Categorías de dominio">
    <app-domain-category-table></app-domain-category-table>
   <!--  <app-domain-table></app-domain-table>
    <app-domain></app-domain>
    <app-subdomain></app-subdomain> -->
    <div>
      <button mat-button matStepperPrevious>Anterior</button>
      <button mat-button>Finalizar</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
