<h2>Clientes</h2>
<div>
    <table>
        <thead>
            <tr>
                <th>Nombre del Cliente</th>
                <th>Nombre de la Empresa</th>
                <th>Número de Documento</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let company of companies">
                <td>{{company.companyname}}</td>
                <td>{{company.companyname}}</td>
                <td>{{company.documentNumber}}</td>
                <td><mat-slide-toggle checked={{company.status}}>
                </mat-slide-toggle></td>
                <td>
                    <button mat-raised-button color="primary">Editar</button>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>
