<h2>{{"client.client" | translate }}</h2>
<div class="table-header">
  <mat-form-field appearance="outline">
    <mat-label>Buscar</mat-label>
    <input matInput (input)="applyFilter($event)" placeholder="Buscar" #searchInput>
    <button *ngIf="searchInput.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch(searchInput)">
      <mat-icon>close</mat-icon>
      <mat-hint>Hint</mat-hint>
    </button>
  </mat-form-field>
  <section class="btn-row">
    <button mat-raised-button color="primary" (click)="openBulkUpload()"  matTooltip="Para cargar masivamente clientes desde archivo">
        <mat-icon>cloud_upload</mat-icon>Carga masiva
    </button>
      <button mat-raised-button color="primary" (click)="navigateToNewClient()">
          <mat-icon>add_circle</mat-icon>Nuevo cliente
      </button>
  </section>
  
</div>

<div class="progress">
  <mat-progress-bar class="progress-bar" mode="determinate" [value]="uploadProgress" *ngIf="uploadProgress">
  </mat-progress-bar>
  <mat-icon class="cancel-upload" (click)="cancelUpload()" *ngIf="uploadProgress">delete_forever</mat-icon>
</div>
<div>
  <div class="spinner" *ngIf="isLoading">
    <mat-progress-spinner color="accent" mode="indeterminate" diameter="50">
    </mat-progress-spinner>
  </div>
  <table mat-table [dataSource]="dataSource" [hidden]="isLoading">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Business Name Column -->
    <ng-container matColumnDef="businessName">
      <th mat-header-cell *matHeaderCellDef> Razón Social </th>
      <td mat-cell *matCellDef="let element"> {{element.businessName}} </td>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Dirección </th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>

    <!-- Country Column -->
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef> País </th>
      <td mat-cell *matCellDef="let element"> {{element.country}} </td>
    </ng-container>

    <!-- Document Type Column -->
    <ng-container matColumnDef="documentType">
      <th mat-header-cell *matHeaderCellDef> Tipo de Documento </th>
      <td mat-cell *matCellDef="let element"> {{element.documentType}} </td>
    </ng-container>

    <!-- Document Column -->
    <ng-container matColumnDef="document">
      <th mat-header-cell *matHeaderCellDef> Documento </th>
      <td mat-cell *matCellDef="let element"> {{element.document}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element"> 
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openNewGroupCompanyModal(element)">
            <mat-icon>add_circle</mat-icon>
            <span>Grupo de empresas</span>
          </button>
          <button mat-menu-item (click)="openEditClientModal(element)">
            <mat-icon>edit</mat-icon>
            <span>Editar</span>
          </button>
          <button mat-menu-item (click)="openDeleteCompanyModal(element)">
            <mat-icon>delete</mat-icon>
            <span>Borrar</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="clientsTableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: clientsTableColumns;"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>

</div>
