.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mat-mdc-form-field-subscript-wrapper
.mat-mdc-form-field-bottom-align {
  background-color: blue;
  display: none;
}

  .header h2 {
    margin: 0px;
  }

  .file-input {
    display: none;
  }