<h2>Clientes</h2>
<div>
    <table>
        <thead>
            <tr>
                <th>Nombre del Cliente</th>
                <th>Nombre de la Empresa</th>
                <th>Número de Documento</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Grupo Falabella </td>
                <td>Falabella </td>
                <td>78.897.987-8</td>
                <td><mat-slide-toggle>
                </mat-slide-toggle></td>
                <td><button type="button" class="btn btn-primary">Editar</button></td>
            </tr>
            
        </tbody>
    </table>
</div>
