<div class="header">
  <h2>Nuevo cliente</h2>
</div>
<mat-divider></mat-divider>
<mat-horizontal-stepper labelPosition="bottom" #stepper class="m-b-16">
  <ng-template matStepperIcon="number" let-index="index">
    <div class="big-icon-step">{{ index + 1 }}</div>
  </ng-template>
  <ng-template matStepperIcon="number" let-index="index">
    <div class="big-icon-step">{{ index + 1 }}</div>
  </ng-template>
  <ng-template matStepperIcon="number" let-index="index">
    <div class="big-icon-step">{{ index + 1 }}</div>
  </ng-template>
  <ng-template matStepperIcon="number" let-index="index">
    <div class="big-icon-step">{{ index + 1 }}</div>
  </ng-template>
  <mat-step>
    <ng-template matStepLabel>
      <div class="p-label-step">
        <span>Datos del cliente</span>
      </div>
    </ng-template>
    <app-new-client></app-new-client>
  </mat-step>
  <mat-step label="Fill out your address">
    <ng-template matStepLabel>
      <div class="p-label-step">
        <span>Categorías Corporativas</span>
      </div>
    </ng-template>
    @if(stepper.selectedIndex === 1){
      <app-corp-categories></app-corp-categories>
    }
  </mat-step>
  <mat-step label="Fill out your address">
    <ng-template matStepLabel>
      <div class="p-label-step">
        <span>Organización</span>
      </div>
    </ng-template>
    @if(stepper.selectedIndex === 2){
      <app-group-company-table></app-group-company-table>
    }
  </mat-step>
  <mat-step label="Fill out your address">
    <ng-template matStepLabel>
      <div class="p-label-step">
        <span>Empresas</span>
      </div>
    </ng-template>  
    @if(stepper.selectedIndex === 3){
      <app-organization></app-organization>
    }
  </mat-step>
</mat-horizontal-stepper>
<div class="buttons">
  <button mat-raised-button (click)="goToPreviousStep()">Volver</button>
  <button mat-raised-button (click)="goToNextStep()">Avanzar</button>
</div>