/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    -webkit-font-smoothing: antialiased;
}
main> * {
    display: grid;
    /* grid-template-rows: auto auto; */
    row-gap: 20px;
}
main > * > div {
    padding: 40px;
}
.icon{
    right: 10px;
    width: 20px;
    height: 20px;
    font-size: 1rem;
    color: #5f4ede;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 7px;
    bottom: 5px;
    z-index: 2;
}
h2{
    color:#241783;
    font-size: 1.5rem;
    border-bottom: 0.1rem solid #d0cbf5;
    padding: 1rem;
}
h3{
    color:#241783;
    font-size: 1.2rem;
    padding: 1rem 1rem 1rem 0;
}
header{
    color:#241883;
    font-size:20px;
    font-weight: bold;
    text-align: center;
}
/* BUTTON */
.btn{
    background-color: #5f4ede;
    color: white;
    padding: 10px 30px;
    border-radius: 2rem;
    display: block;
    /* float: right; */
}

.mat-mdc-form-field{
    margin-right: 10px !important;
}   
.mat-column-acciones{
    text-align: center !important;
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 110px !important;
    width: 110px !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

span.material-symbols-outlined {
    color: #5f4ede;
}

 /* TABLES */
table{
    border: 1px solid #d0cbf5 !important;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 2rem;
    color:#737373;
    text-align: left;
    width: 100%;
}
th, td{
    padding: 1rem;
}
th{
    background-color: #f4f3fc !important;
    text-transform: uppercase;
    font-size:14px;
    font-weight: 500;
    color: #303030;
    /* border-bottom: 1px solid #5f4ede;; */
}
/* .mat-mdc-table .mat-mdc-header-cell{
    background-color: #f4f3fc !important;
} */
 /* table th:not(:last-child),
table td:not(:last-child) {
    padding-right:5px
border-right: 1px solid #5f4ede; 
}*/
table>thead>tr:not(:last-child)>th,
table>thead>tr:not(:last-child)>td,
table>tbody>tr:not(:last-child)>th,
table>tbody>tr:not(:last-child)>td,
table>tfoot>tr:not(:last-child)>th,
table>tfoot>tr:not(:last-child)>td,
table>tr:not(:last-child)>td,
table>tr:not(:last-child)>th,
table>thead:not(:last-child),
table>tbody:not(:last-child),
table>tfoot:not(:last-child) {
 border-bottom: 1px solid #d0cbf5 !important;
}