

<!-- <mat-radio-group aria-label="Select an option" (change)="newUserChanged($event)">
    <mat-radio-button value="1">Crear nuevo usuario</mat-radio-button>
    <mat-radio-button value="2">Selecionar usuario existente</mat-radio-button>
</mat-radio-group> -->
<div *ngIf="showTable">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre de usuario</th>
                <th>Cargo</th>
                <th>E-mail</th>
                <th>Cliente</th>
                <th>Empresa</th>
                <th>Rol</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.firstName}} {{user.lastName}} </td>
                <td>{{user.position}}</td>
                <td>{{user.email}}</td>
                <td>{{user.clientName}}</td>
                <td>{{user.companyname}}</td>
                <td>{{user.rolename}}</td>
            </tr>
        </tbody>
    </table>
</div>

    

<form [formGroup]="usersForm">
    
    <h3>Información del usuario</h3>
    <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="firstName" placeholder="Escribe un nombre" required>
    </mat-form-field>

    <mat-form-field>
    <mat-label>Apellido</mat-label>
    <input matInput formControlName="lastName" placeholder="Escriba su apellido" required>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
    </mat-form-field>
    <br>

    <mat-form-field>
        <mat-label>Cargo</mat-label>
        <input matInput formControlName="position" placeholder="Escribe un cargo" required>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Cliente/Empresa </mat-label>
        <mat-select  name="company" formControlName="companyId" placeholder="Seleccione la empresa" required>
            <mat-option value={{company.id}} *ngFor="let company of companies">{{company.companyname}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Rol</mat-label>
        <mat-select name="rol" formControlName="rolId" placeholder="Seleccione el rol" required>
            <mat-option value={{rol.id}} *ngFor="let rol of roles">{{rol.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div>
    <button mat-raised-button color="primary" (click)="addUser()">Agregar usuario</button> &nbsp;
    <button mat-button matStepperNext mat-raised-button color="basic">Siguiente</button>
    </div>
</form>
