
<form [formGroup]="clientForm">   
    <mat-form-field>
        <mat-label>Nombre del cliente</mat-label>
        <input matInput placeholder="Ingrese el nombre del cliente" formControlName="name" required>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Nombre de la empresa</mat-label>
        <input matInput placeholder="Ingrese el nombre del cliente" formControlName="clientName" required>
    </mat-form-field>
   
    <mat-form-field>
        <mat-label>Documento</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="document" formControlName="documentType" placeholder="Ingrese el tipo de documento" required>
            <mat-option value="RUT">RUT</mat-option>
            <mat-option value="DNI">DNI</mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Número de documento</mat-label>
        <input matInput placeholder="Ingrese el número de documento" formControlName="documentNumber" required>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Teléfono</mat-label>
        <input matInput placeholder="Ingrese un número telefónico" formControlName="phone" required>
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="Ingrese el e-mail" formControlName="email" required>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Dirección</mat-label>
        <input matInput placeholder="Ingrese dirección" formControlName="address" required>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>País</mat-label>
        <mat-select [(ngModel)]="selectedCountry" formControlName="countryId" placeholder="Ingrese el país" required>
            <mat-option value=1>Chile</mat-option>
            <mat-option value="2">Argentina</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Región</mat-label>
        <mat-select [(ngModel)]="selectedState" formControlName="stateId" placeholder="Ingrese la ciudad" required>
            <mat-option value=1>Región Metropolitana</mat-option>
            <mat-option value="2">Región de Valparaíso</mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Ciudad</mat-label>
        <mat-select [(ngModel)]="selectedCity" formControlName="cityId" placeholder="Ingrese la ciudad" required>
            <mat-option value=1>Santiago</mat-option>
            <mat-option value="2">Valparaíso</mat-option>
            <mat-option value="3">Rancagua</mat-option>
        </mat-select>
    </mat-form-field>

    <div>
        <button mat-raised-button color="primary" type="button" (click)="onClientCreate()">Guardar</button> &nbsp;
        <button mat-button matStepperNext *ngIf="show">Siguiente</button>
    </div>
</form>


