<h2>{{"groupcompany"|translate}}</h2>
<div>
  <form [formGroup]="groupCompanyForm">
    <mat-form-field appearance="outline" class="col-1">
      <mat-label>Nombre</mat-label>
      <input matInput type="text" formControlName="name" required>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="col-2">
      <mat-label>Descripción</mat-label>
      <input matInput formControlName="description" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-2">
      <mat-label>Etiqueta</mat-label>
      <input matInput type="text" formControlName="tag">
    </mat-form-field>

    <div class="btn-box">
      <button mat-raised-button type="submit">Volver</button>
      <button mat-raised-button color="primary" type="submit" class="d-right" (click)="save()">Guardar</button>
    </div>
  </form>
</div>