<form [formGroup]="groupCompanyForm">

    <mat-form-field appearance="fill">
      <mat-label>ID</mat-label>
      <input matInput type="text" name="id" required>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput type="text" name="name" required>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Descripción</mat-label>
      <textarea matInput name="description" required></textarea>
    </mat-form-field>
  
    <mat-checkbox name="is_active" color="primary">Activo</mat-checkbox>
  
    <mat-checkbox name="is_delete" color="primary">Eliminado</mat-checkbox>
  
    <mat-form-field appearance="fill">
      <mat-label>Fecha de Creación</mat-label>
      <input matInput type="date" name="created_date" required>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Fecha de Modificación</mat-label>
      <input matInput type="date" name="modificated_date" required>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Etiqueta</mat-label>
      <input matInput type="text" name="tag">
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>ID Cliente</mat-label>
      <input matInput type="text" name="id_client" required>
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit">Guardar</button>
  
  </form>
  